@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito.ttf");
}
@font-face {
  font-family: "ReemKufi";
  src: url("../fonts/ReemKufi.ttf");
}
body,
a,
p,
strong,
span {
  font-family: "Nunito", "Vazir" !important;
  text-align: right;
  direction: rtl;
}

a {
  text-decoration: none !important;
}

html {
  background-color: #0b0b0b;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.colored-text {
  color: #ca0000;
}

.colored-text-white {
  color: #fff;
}

.animate__animated {
  --animate-duration: 0.4s;
}

.uk-form-icon {
  color: #fff;
}

.uk-form-icon {
  font-size: 23px;
}

.uk-checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-left: 7px;
}
.uk-checkbox.uk-checkbox:checked, .uk-checkbox.uk-checkbox:indeterminate, .uk-checkbox.uk-radio:checked {
  background-color: #ca0000;
  border-color: transparent;
}
.uk-checkbox, .uk-checkbox:hover, .uk-checkbox:focus {
  border: 1px solid #1d1d1d;
}

.uk-input {
  font-family: "Nunito", "Vazir";
  border-radius: 8px;
  height: 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  direction: ltr;
}
.uk-input, .uk-input:hover, .uk-input:focus {
  background-color: rgba(11, 11, 11, 0.0470588235);
  border: 1px solid #1d1d1d;
  color: #fff;
}

.form {
  position: relative;
  width: 380px;
  right: 50%;
  transform: translate(50%);
  margin-top: 120px;
}
.form .uk-inline .form-label {
  position: absolute;
  top: -13px;
  right: 15px;
  color: #fff;
  z-index: 2;
}
.form .uk-inline,
.form .uk-button {
  width: 100%;
}
.form .uk-button {
  height: 45px;
}
.form.form-large {
  width: 550px;
}
.form .form-header {
  font-size: 40px;
  font-family: "ReemKufi";
  color: #fff;
}
.form .form-content {
  padding: 25px;
  border-radius: 8px;
  background-color: rgba(11, 11, 11, 0.2392156863);
  border: 1px solid #1d1d1d;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

#signin_light_bulbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
#signin_light_bulbs .light_bulb {
  position: fixed;
  --size: 450px;
  width: var(--size);
  height: var(--size);
  opacity: 0.9;
}
#signin_light_bulbs .light_bulb:nth-child(1) {
  top: -180px;
  left: -200px;
}
#signin_light_bulbs .light_bulb:nth-child(2) {
  bottom: -180px;
  right: -200px;
}

.uk-button {
  transition: 0.2s ease-in;
  border-radius: 8px;
  padding-bottom: 3px;
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.uk-button.loading span {
  display: none;
}
.uk-button.loading i {
  transform: rotate(0deg);
  animation: loadingAnimation 1s linear infinite;
  margin-top: 10px;
  font-size: 25px;
}
.uk-button.uk-button-default {
  color: #868686;
  border: 1px solid #868686;
}
.uk-button.uk-button-default:hover {
  color: #0b0b0b;
  background-color: #868686;
}
.uk-button.uk-button-primary {
  color: #fff;
  border: none;
}
.uk-button.uk-button-primary, .uk-button.uk-button-primary:focus, .uk-button.uk-button-primary:hover {
  background-color: #ca0000;
}

#intro_glass {
  position: absolute;
  --space: 40px;
  left: 20px;
  top: 20px;
  width: calc(100% - var(--space));
  height: calc(100% - var(--space));
}
#intro_glass::before {
  border-radius: 10px;
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(23, 23, 23, 0.5019607843);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

#header {
  position: relative;
  z-index: 80;
  width: 100%;
  padding: 20px 0;
  direction: ltr;
}
#header #navbar {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #navbar #brand_name img {
  height: 60px;
}
#header #navbar .navbar-item {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: #868686;
  margin: 0 15px;
}
#header #navbar .navbar-item-active {
  color: #fff;
}
#header #navbar .navbar-item-active::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 3px;
  background-color: #ca0000;
  box-shadow: 0px 0px 30px 8px #950000;
  border-radius: 50px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
#header.header-flat {
  padding: 15px 0;
  border-bottom: 1px solid #181818;
  background-color: rgba(16, 16, 16, 0.0666666667);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
#header.header-flat #navbar #brand_name img {
  height: 50px;
}

.light_bulb {
  position: fixed;
  --size: 1000px;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
}

.important-text {
  font-weight: bold;
  text-decoration: underline;
}

.page {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 0;
}
.page.active {
  opacity: 1;
  z-index: 90;
}
.page .page-header,
.page .page-header span {
  font-family: "ReemKufi" !important;
}
.page .page-header {
  color: #fff;
  font-size: 55px;
  margin-top: 30px;
}
.page .page-text {
  color: #fff;
  font-size: 20px;
}
.page .container {
  position: relative;
  right: 50%;
  transform: translate(50%);
  width: 90%;
  height: 100%;
}
.page .page-navigation {
  position: absolute;
  right: 0;
  bottom: 50px;
  display: flex;
}
.page .page-navigation button {
  cursor: pointer;
  --size: 50px;
  margin: 0 5px;
  width: var(--size);
  height: var(--size);
  background: #950000;
  border: none;
  outline: none;
  font-size: 35px;
  color: #fff;
}
.page .page-navigation button i {
  position: relative;
  bottom: -20px;
}

#simplicity #simplicity-img {
  position: absolute;
  width: 500px;
  left: 100px;
  bottom: -20px;
  z-index: 20;
}
#simplicity .light_bulb {
  bottom: -470px;
  left: -470px;
  opacity: 20%;
}

#home #home_content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 75px;
}
#home #home_content #home_text {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: "ReemKufi";
}
#home .light_bulb:nth-child(2) {
  bottom: -470px;
  left: -470px;
}
#home .light_bulb:nth-child(3) {
  bottom: -470px;
  right: -470px;
}
@keyframes homeNextPageIconAnimation {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 35px;
  }
  100% {
    margin-top: 5px;
  }
}
#home #home_next_page {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 5px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  animation: homeNextPageIconAnimation 1s linear infinite;
}/*# sourceMappingURL=styles.css.map */